Repository design-first/system-runtime: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

chore: update dev dependencies
  package-lock.json
  package.json
Due: none

chore: bump 5.2.0
  package-lock.json
  package.json
  src/system/system-runtime.json
Due: npm run prettier

chore: update git action
  .github/workflows/node.js.yml
Due: none

chore: update dependencies
  package-lock.json
  package.json
Due: none

chore: update copyright year
  Gruntfile.js
  README.md
  karma.conf.js
  src/banners/license.txt
  src/banners/systemmodule-header.txt
  src/behavior.js
  src/component.js
  src/db.js
  src/helper.js
  src/history.js
  src/log.js
  src/metamodel.js
  src/mson.js
  src/runtime.js
  src/state.js
  src/workflow.js
Due: npm run lint, npm run prettier

chore: update year copyright
  Gruntfile.js
  README.md
  karma.conf.js
  src/banners/license.txt
  src/banners/systemmodule-header.txt
  src/behavior.js
  src/component.js
  src/db.js
  src/helper.js
  src/history.js
  src/log.js
  src/metamodel.js
  src/mson.js
  src/runtime.js
  src/state.js
  src/workflow.js
Due: npm run lint, npm run prettier

chore: udpdate dependencies
  package-lock.json
  package.json
Due: none

chore: bump 5.3.0
  package.json
  src/system/system-runtime.json
Due: npm run prettier

chore: update workflow configuration
  .github/workflows/node.js.yml
Due: none

feat: bump 5.4.0
  .github/workflows/node.js.yml
  .prettierrc
  Gruntfile.js
  README.md
  karma.conf.js
  package-lock.json
  package.json
  src/banners/license.txt
  src/banners/systemmodule-header.txt
  src/behavior.js
  src/component.js
  src/db.js
  src/helper.js
  src/history.js
  src/log.js
  src/metamodel.js
  src/mson.js
  src/runtime.js
  src/state.js
  src/system/system-runtime.json
  src/workflow.js
Due: npm run lint, npm run prettier

feat: bump 5.4.0 (#74)
  .github/workflows/node.js.yml
  .prettierrc
  Gruntfile.js
  README.md
  karma.conf.js
  package-lock.json
  package.json
  src/banners/license.txt
  src/banners/systemmodule-header.txt
  src/behavior.js
  src/component.js
  src/db.js
  src/helper.js
  src/history.js
  src/log.js
  src/metamodel.js
  src/mson.js
  src/runtime.js
  src/state.js
  src/system/system-runtime.json
  src/workflow.js
Due: npm run lint, npm run prettier

Path conditions:
  npm run lint: any of: src/*.js
  npm run prettier: (any of: src/*.js) or (any of: src/system/*.json)
